name: CI

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - run: yarn install --immutable
      - run: yarn build
      - run: yarn fmt:check
      - run: yarn lint:check
      - run: yarn test

      # publish version tags
      - name: npm publish (dry run)
        run: yarn npm publish --access public --provenance --dry-run
      - name: npm publish
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: yarn npm publish --access public --provenance
